<h1> Welcome <h1>

<p> Please select a sport season: </p>


<%= form_with url: '/select', method: :get, local: true do |f| %>
  
  <%= f.select(:season, options_for_select([["Summer", "summer"],["Both", "both"], ["Winter", "winter"]])) %>

  <%= f.submit "Go!" %>

<% end %>